.parent {
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #7d7878;
  background: rgba(125, 120, 120, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(125, 120, 120, 0.5);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.childern {
  padding: 10px;
}
.childern > div {
  width: 130px !important;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
